<template name="search">
	{{> esInput index="sell_items" placeholder="Search..."}}

	<ul>
		{{#esEach index="sell_items"}}
			<li><p>{{name}}</p>
			<small>{{description}}</small> </li>
		{{/esEach}}
	</ul>

	{{> esLoadMoreButton index="sell_items"}}
	
	{{#ifEsHasNoResults}}
		<div class="no-results">No results found! </div>
	{{/ifEsHasNoResults}}

	{{#ifEsIsSearching index="sell_items"}}
		{{> spinner}}
	{{/ifEsIsSearching}}

</template>

<template name="searchTpl">
    <div class="search-input">
        {{> esInput index="sell_items" placeholder="Search..." }}
    </div>

    {{#ifEsInputIsEmpty index="players"}}
        <div>Search for players</div>
    {{/ifEsInputIsEmpty}}

    {{#ifEsIsSearching index="sell_items"}}
        <div>Loading...</div>
    {{else}}
        <div class="results-wrapper">
            {{#esEach index="sell_items"}}
                {{> player}}
            {{/esEach}}
        </div>

        {{> esLoadMoreButton index="sell_items"}}
    {{/ifEsIsSearching}}

    {{#ifEsHasNoResults index="sell_items"}}
        <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}
</template>

<template name="playersOverview">
    {{> esAutosuggest index="sell_items" renderSuggestion=suggestion }}
    
</template>

<template name="suggestionTpl">
    <!-- Default way of ES rendering the suggestions -->
    {{pre}}<span class="found">{{found}}</span>{{post}}
    <!-- "doc" gives access to the suggested document -->
    {{doc.name}}
</template>