input {
    max-width: 900px;
}

#main-container {
  max-width: 1000px;
  left: 0;
  right: 0;
  margin: auto;
}

.amazon {
  background-color: #232f3e;
  padding: 0;
}

.search-box {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 50px;
}

.logo {
  padding-top: 15px;
  padding-right: 0px;
}

#myNavbar {
  padding: 0;
}

.logo-col {
  padding-right: 0;
}
.navbar-toggle {
  border: none;
  border-radius: 0;
  border-color: transparent !important;
}

.navbar-toggle:hover{
  border-color: transparent !important;  
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

