input {
    max-width: 900px;
}

#main-container {
  max-width: 1000px !important;
  left: 0;
  right: 0;
  margin: auto;
}

.drop-shadow {
padding-top: 10px;
-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.49);
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.49);
padding-left: 15px;
padding-right: 15px;
}

.center {
  padding-top: 20px !important;
}
.amazon {
  background-color: #232f3e;
  padding: 0;
  max-width: 1000px !important;
}

.search-box {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 50px;
}

.logo {
  padding-top: 15px;
  padding-right: 0px;
}

#myNavbar {
  padding: 0;
}

.logo-col {
  padding-right: 0;
}
.navbar-toggle {
  border: none;
  border-radius: 0;
  border-color: transparent !important;
}

.navbar-toggle:hover{
  border-color: transparent !important;  
}

/* Custom page footer */
.footer {
  padding-top: 40px;
  color: #777;
}

.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show = N */
  line-height: 1.5;        /* fallback = X */
  max-height: 4.5;       /* fallback = XN  */
}

.price {
  color: green;
  font-weight: bold;
  font-size: 1.2em;
}

.old-price {
  color: #777;
  text-decoration: line-through;
}

.navbar {
  background-color: transparent !important;
  border: none;
}

body {
  padding-top: 130px;
}

.navbar-fixed-top {
  border-width: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.search-info {
  top: 112px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1000px !important;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.sidebar-categories {
  overflow-y: auto;
  border-right: thin solid #eee;
  height: 470px;
  border-bottom: 0;
  padding-right: 25px;
}

