a:hover{
  text-decoration: none;
}

input {
    max-width: 900px;
}

#main-container {
  max-width: 1000px !important;
  left: 0;
  right: 0;
  margin: auto;
}

.drop-shadow {
padding-top: 10px;
-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.49);
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.49);
padding-left: 15px;
padding-right: 15px;
}

.center {
  padding-top: 20px !important;
}
.amazon {
  background-color: #232f3e;
  padding: 0;
  max-width: 1000px !important;
  border-radius: 7px;
}

.search-box {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 50px;
}

.logo {
  padding-top: 15px;
  padding-right: 0px;
}

#myNavbar {
  padding: 0;
}

.logo-col {
  padding-right: 0;
}
.navbar-toggle {
  border: none;
  border-radius: 0;
  border-color: transparent !important;
}

.navbar-toggle:hover{
  border-color: transparent !important;  
}

/* Custom page footer */
.footer {
  padding-top: 30px;
  color: #777;
 }

.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show = N */
  line-height: 1.5;        /* fallback = X */
  max-height: 4.5;       /* fallback = XN  */
}

.price {
  color: green;
  font-weight: bold;
  font-size: 1.2em;
}

.old-price {
  color: #777;
  text-decoration: line-through;
}

.navbar {
  background-color: transparent !important;
}

body {
  padding-top: 130px;
}

.navbar-fixed-top {
  border-width: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.search-info {
  top: 112px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1000px !important;
  background-color: white;
  position: fixed;
  z-index: 1;
  border-radius: 7px;
}

.sidebar-categories {
  border-right: thin solid #eee;
  height: 80vh;
  border-bottom: 0;
  padding-right: 25px;
  padding-bottom: 25px;
  overflow-y: auto;
}

.font-awesome:hover {
  color: #3F51B5;
}

.font-awesome {
  color: #212121;
  font-size: 1.5em;
  padding-right: 10px;
}

.no-padding { 
  padding: 0;
}


/* COMMENTS STYLES */
.comments {
  padding-left: 20px;
  padding-right: 40px;
}

.comment {
  position: relative;
  padding-left: 30px;
}

.comment-add {
  position: relative;
  padding-left: 60px;
}


@media only screen and (max-width: 600px) {
  .comments {
    padding-left: 5px;
    padding-right: 5px;
  }

  .comment {
    position: relative;
    padding-left: 2px;
  }

  .comment-add {
  position: relative;
  padding-left: 3px;
}

}

.comment-control {
  position: relative;
  padding-top: 5px;
  padding-right: 20px;
}


.comment-author {
  color: red;
  font-weight: bold;
}

.comment-history {
  font-size: 0.8em;
}

.comment-reply {
  font-size: 0.8em;
}

.comment-like-dislike {
  font-size: 1.2em;
}

.comment-likes {
  font-size: 1.2em;
}


.comment-add-body {
  width: 100px;
  height: 100px;
}

.sell-button {
  width: 100%;
}

.title {
  font-size: 2.5em;
}

.sell-categories {
  list-style-type: none;
  padding-left: 0;
  
}

.sell-success {
  font-weight: bold;
}

.control-search {
  padding-top: 25px;
}

.control-search > strong > a {
  color: #aaa;
}

.want {
  font-style: italic;
  color: white;
}

.user-offset {
  padding-left: 30px;
  padding-right: 30px;
}