<template name="ask">
	{{> pageName title='ask'}}
	<form>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="sell-item-title">Item Title</label>
					<input type="text" class="form-control" id="sell-item-title" placeholder="Title">
				</div>
				<div class="form-group">
					<label for="sell-item-condition">Item Condition</label>
					<select id="sell-item-condition" class="form-control">
				    	<option class="form-control">Any</option>
				    	<option>New</option>
					    <option>Like New</option>
					    <option>Very Good</option>
				    	<option>Good</option>
					    <option>Acceptable</option>
					</select>
				</div>
				<div class="form-group">
					<label for="sell-item-price">Preferred price</label>
					<input type="number" class="form-control" id="sell-item-price" placeholder="Price in KZT (ex: 2000)">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="sell-item-desc">Description</label>
					<textarea id="sell-item-desc" class="form-control" rows="6" placeholder="Description"></textarea>
				</div>
				<button type="submit" class="btn btn-primary sell-button">Ask</button>

			</div>
		</div>
	</form>
</template>