<template name="sell">
	{{> pageName title='sell'}}
	<form>
		<div class="row">
			<div class="col-sm-3">
				<label>Choose at least one category</label>
				<small id="hint-category" style="color:red;padding-left:10px;display:none;">*No one selected</small>

				{{#each categories}}
					{{> categoryItemSell}}
				{{/each}}
			</div>
			<div class="col-sm-9">
				<div class="form-group">
					<label for="sell-item-title">Item Title</label>
					<input name="name" type="text" class="form-control" id="sell-item-title" placeholder="Title">
					<small id="hint-name" style="color:red;padding-left:10px;display:none;">*Please write item title</small>
				</div>
				<div class="form-group">
					<label for="sell-item-condition">Item Condition</label>
					<select name="condition" id="sell-item-condition" class="form-control">
				    	<option class="form-control">New</option>
					    <option>Like New</option>
					    <option>Very Good</option>
				    	<option>Good</option>
					    <option>Acceptable</option>
					</select>
				</div>
				<div class="form-group">
					<label for="sell-item-price">Preferred price</label>
					<input name="price" type="number" class="form-control" id="sell-item-price" placeholder="Price in KZT (ex: 2000)">
					<small id="hint-price" style="color:red;padding-left:10px;display:none;">*Please write item price</small>
				</div>
				<div class="form-group">
					<label for="sell-item-img">Image</label>
					<input name="photo_src" type="file" id="sell-item-img" class="myFileInput">
					<!-- <p class="help-block">Please take into account that system will make it square sized.</p> -->
				</div>
				<div class="form-group">
					<label for="sell-item-desc">Description</label>
					<textarea name="description" id="sell-item-desc" class="form-control" rows="6" placeholder="Description"></textarea>
					<small id="hint-description" style="color:red;padding-left:10px;display:none;">*Please write item description</small>
				</div>
				<button type="submit" class="btn btn-primary sell-button">Sell</button>

			</div>
		</div>
	</form>
</template>