<template name="adsList">
	<div class="drop-shadow navbar-fixed-top search-info">
		<div class="row">
			<div class="col-sm-4 pull-right text-right">
			  	Sort by
			  	<select>
			    	<option>Relevance</option>
				    <option>Publication Date</option>
				    <option>Price: Lowest to Highest</option>
				    <option>Price: Highest to Lowest</option>
				    <option>Featured</option>
				</select>
			</div>
			<div class="col-sm-8"><p>1-16 of 44 results for "your search keywords"</p></div>
		</div>
	</div>
	<hr/>
	<div class="container-fluid">
		<div class="row">
		<div id="myNav"  data-spy="affix" data-offset-top="60" data-offset-bottom="200">
			<div class="col-md-3 hidden-sm hidden-xs sidebar-categories">
				 <ul class="nav nav-tabs nav-stacked affix" data-spy="affix" data-offset-top="190">
					 <p class="lead">Categories</p>
			    	{{#each categories}}
				    	<li>
					    	<input type="checkbox" value=""> {{name}}
				    	</li>
			    	{{/each}}
				</ul>
	 		</div>
			<div class="col-md-9">
				{{#each items}}
					{{> Item}}
				{{/each}}
			</div>
		</div>
	</div>
	</div>
</template>