<template name="itemsList">
	<div class="drop-shadow search-info">
		<div class="row">
			<div class="col-xs-8 pull-right text-right">
			  	Sort by
			  	<select>
			    	<option>Relevance</option>
				    <option>Date</option>
				    <option>Price &uarr;</option>
				    <option>Price &darr;</option>
				    <option>Featured</option>
				    <option class="hidden-md hidden-lg">Category</option>
				</select>
			</div>
 			<div class="col-xs-4"><p>44 results</p></div>
		</div>
	</div>
	<hr/>
	<div class="container-fluid">
		<div class="row">
			<div id="myNav"  data-spy="affix" data-offset-top="60" data-offset-bottom="200">
				<div class="col-md-3 hidden-sm hidden-xs ">
					 <ul class="nav nav-tabs nav-stacked affix sidebar-categories" data-spy="affix" data-offset-top="130">
					 		<li>
					 			<p> <input type="checkbox" value=""> All </p>
					 		</li>
				    	{{#each categories}}
					    	<li>
						    	<p> <input type="checkbox" value=""> {{name}} </p>
					    	</li>
				    	{{/each}}
				    	<a href="#"><small>reset</small></a>
					</ul>
		 		</div>
				<div class="col-md-9">
					{{#each sell_items}}
						{{> Item}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>