<template name="Item">
	<div class="row ">
		<div class="col-xs-3 text-center center">
			<img src="{{img}}" height="100px" class="img-responsive center" />
		</div>
		<div class="col-xs-9 center">
			<p>
				<t class="lead">{{name}}</t> 
				<small class="pull-right hidden-xs">
					<table>
						<tr>
							<td><em>Published: </em></td>
							<td class="text-right">Mar 4, 2014</td>
						</tr>
						<tr>
							<td><em>Condition: </em></td>
							<td class="text-right">{{condition}}</td>
						</tr>
						<tr>
							<td><em>Views: </em></td>
							<td class="text-right">{{views}}</td>
						</tr>
						<tr>
							<td><em>Comments: </em></td>
							<td class="text-right">{{comments}}</td>
						</tr>
					</table>
				</small>
				<br/>
				<small>by <a href="#"><strong>{{owner}}</strong></a></small>
			</p>
			<div class="row">
				<div class="col-md-3">
					<p class="center">
						<span class="price">{{price}} KZT</span>
						{{#if strike}}
						<br/>
						<span class="old-price text-right">66.7 KZT</span>
						{{/if}}
					</p>
				</div>
				<div class="col-md-9 hidden-xs">
					<p class="giveMeEllipsis">
						<strong>Description: </strong>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>
			</div>
		</div>
	</div>
	<hr/>
</template>