<template name="Item">
	<div class="row ">
		<div class="col-xs-3 text-center center no-padding">
			<img src="{{img}}" height="100px" class="img-responsive center" />
		</div>
		<div class="col-xs-9 center">
			<p>
				<t class="lead"><a href="{{pathFor 'showItem'}}">{{name}}</a></t> 
				<small class="pull-right hidden-xs">
					<table>
						<tr>
							<td><em>Published: </em></td>
							<td class="text-right">{{formatDate added_date}}</td>
						</tr>
						<tr>
							<td><em>Condition: </em></td>
							<td class="text-right">{{condition}}</td>
						</tr>
						<tr>
							<td><em>Views: </em></td>
							<td class="text-right">{{views}}</td>
						</tr>
						<tr>
							<td><em>Comments: </em></td>
							<td class="text-right">{{comments}}</td>
						</tr>
					</table>
				</small>
				<br/>
				<small>by <a href="{{pathFor 'user'}}"><strong>{{owner}}</strong></a></small>
			</p>
			<div class="row">
				<div class="col-md-3">
					<p class="center">
						<span class="price">{{price}} KZT</span>
						{{#if old_price }}
						<br/>
						<span class="old-price text-right">{{old_price}} KZT</span>
						{{/if}}
					</p>
				</div>
				<div class="col-md-9 hidden-xs">
					<p class="giveMeEllipsis">
						<strong>Description: </strong>
						{{description}}
					</p>
				</div>
			</div>
		</div>
	</div>
	<hr/>
</template>