<template name="showItem">
	<div class="row">
		<div class="col-xs-4 text-center center no-padding">
			<img src="{{item.img}}" height="200px" class="img-responsive center" />
		</div>
		<div class="col-xs-8 center ">
			<h3>{{item.name}}</h3>
			by <a href="{{pathFor 'user'}}">{{item.owner}}</a>
			<br/>
			<br/>
			<p><strong>Added: </strong>{{formatDateFromNow item.added_date}}</p>
			<p><strong>Updated: </strong>{{formatDateFromNow item.updated_date}}</p>
			<p><strong>Condition: </strong><span class="text-capitalize">{{item.condition}}</span></p>
			<p><strong>Price: </strong><span class="price">{{item.price}} KZT</span>&nbsp;<span class="old-price text-right">66.7 KZT</span></p>
			<p><strong>Description: </strong>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>
		<div class="row">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary pull-right">Reply</button>
		</div>
	</div>
	<hr/>
	<div class="row comments">
		<h4>Comments (1) </h4>
		<div class="row comment">
		<a href="#"><p class="comment-control pull-right" id="add-comment">New Comment</p></a>
		<div class="col-xs-12" style="display:none;" id="new-comment">
			<div class="form-group">
				<textarea class="form-control" rows="5" placeholder="Your comment..."></textarea>
				<div class="row comment-control pull-right ">
					<button type="button" class="btn btn-primary">Submit</button>
					<button type="button" id="cancel-button" class="btn btn-danger">Cancel</button>
				</div>
			</div>
		</div>
		</div>
		<div class="row comment">
			<div class="col-xs-2 text-center center">
				<a href="{{pathFor 'user'}}"><i class="fa fa-user fa-5x text-center hidden-xs"></i></a>
				<a href="{{pathFor 'user'}}"><i class="fa fa-user fa-3x text-center hidden-sm hidden-md hidden-lg"></i></a>
				<a href="{{pathFor 'user'}}"><p class="comment-author hidden-xs">{{item.owner}}</p></a>
			</div>
			<div class="col-xs-10 center">
				<a href="{{pathFor 'user'}}"><p class="comment-author hidden-sm hidden-md hidden-lg">{{item.owner}}</p></a>
				<p class="comment-history">16 hours ago</p>
				<p class="comment-body">
				Nice! Very cheap yet very qualitative! Thank you!
				</p>
				<p class="comment-stats">
					<a href="#"><span class="comment-reply">reply&rarr;</span></a>
					<span class="comment-like-dislike pull-right">
						<a href="#"><i class="fa fa-thumbs-o-up"></i></a>
						<a href="#"><i class="fa fa-thumbs-o-down"></i></a>
					</span>
					<span class="comment-likes pull-right">+12
					&nbsp;</span> 
				</p>
			</div>
		</div>

	</div>
</template>